# Optical Character Recognition

For OCR, we will use the default easyOCR model without any additional fine-tuning

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("data/ocr_train.csv")

In [4]:
df.head()

    img_id      text
0    0.jpg  117T3989
1    1.jpg  128T8086
2   10.jpg   94T3458
3  100.jpg  133T6719
4  101.jpg   68T5979

In [5]:
training_path = "data/ocr/images"

In [6]:
dff = []
for _,row in df.iterrows():
    new_row = row.copy()
    new_row['fullPath'] = training_path+ "/" + new_row['img_id']
    dff.append(new_row)

In [7]:
dff = pd.DataFrame(dff)

In [8]:
dff

      img_id      text                 fullPath
0      0.jpg  117T3989    data/ocr/images/0.jpg
1      1.jpg  128T8086    data/ocr/images/1.jpg
2     10.jpg   94T3458   data/ocr/images/10.jpg
3    100.jpg  133T6719  data/ocr/images/100.jpg
4    101.jpg   68T5979  data/ocr/images/101.jpg
..       ...       ...                      ...
895   95.jpg   39T8707   data/ocr/images/95.jpg
896   96.jpg    92T589   data/ocr/images/96.jpg
897   97.jpg   180T706   data/ocr/images/97.jpg
898   98.jpg   87T7369   data/ocr/images/98.jpg
899   99.jpg  159T8894   data/ocr/images/99.jpg

[900 rows x 3 columns]

In [9]:
import easyocr

In [10]:
reader = easyocr.Reader(['en'])

In [11]:
text = reader.readtext("data/ocr/images/0.jpg")

In [12]:
text[0][1]

'117  3989'